.connectContainer {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ensures alignment to the start */
}

.connectButton {
    background-color: #005eff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.connectButton:hover {
    background-color: #004ecc;
}